<div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
    </div>

   <div class="col-md-10">

     <ul  class="books">
        <li ng-repeat="book in books | filter:{name: query } | orderBy:orderProp" class="thumbnail">
           <a href="#/books/{{book.id}}" class="thumb"><img ng-src="{{book.imageUrl}}"></a>
           <a href="#/books/{{book.id}}">{{book.name}}</a>
           <p>{{book.snippet}}</p>
        </li>
      </ul>
    </div>